---
title: "Nearly-optimal CSS code subspace verification with local measurement"
collection: publications
category: manuscripts
permalink: /publication/2026-05-01-css-code-subspace-verification
date: 2026-05-01
venue: "Quantum Science and Technology 11 (2), 025014"
authors: "Yingying Hu, Congcong Zheng, Xutao Yu*, Zaichen Zhang*"
paperurl: https://iopscience.iop.org/article/10.1088/2058-9565/ae4420/meta
---
