---
title: "Efficient verification of stabilizer code subspaces with local measurements"
collection: publications
category: manuscripts
permalink: /publication/2026-05-22-stabilizer-code-verification
date: 2026-05-22
venue: "Quantum Science and Technology"
authors: "Congcong Zheng, Xutao Yu, Zaichen Zhang*, Ping Xu, Kun Wang*"
paperurl: https://iopscience.iop.org/article/10.1088/2058-9565/ae723b/meta
---
